{#------------------------------------------------------------------------------
# Copyright (c) 2018-2019, Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
#
#-----------------------------------------------------------------------------#}
{% extends 'jinja2_templates/base.jinja2' %}
{% block metadata %}
{{ super() }}
{% endblock %}
{% block base %}
{{ super() }}
{% endblock %}
{% block actions %}
context:
  kernel_start_message: ''

actions:
- deploy:
    namespace: docker
    to: fvp
    images:
      ns:
        url: {{ firmware_url }}
      s:
        url: {{ bootloader_url }}
{%- if enable_code_coverage %}
      cc:
        url: {{ coverage_trace_plugin }}
{%- endif %}
- boot:
    failure_retry: 3
    namespace: docker
    method: fvp
    docker:
      name: {{ docker_prefix }}/fvp:fvp_mps2_aemv8m_11.12_38
      local: true
    prompts:
    - 'root@lava '
    image: /opt/model/FVP_MPS2_AEMv8M/models/Linux64_GCC-6.4/FVP_MPS2_AEMv8M
    timeout:
      minutes: 5
    console_string: 'telnetterminal0: Listening for serial connection on port (?P<PORT>\d+)'
    license_variable: '{{ license_variable }}'
    use_telnet: False
    arguments:
    -  "--application cpu0={NS}"
    -  "--data cpu0={S}@{{ data_bin_offset }}"
    -  "--parameter fvp_mps2.platform_type=2"
    -  "--parameter cpu0.baseline={{ cpu0_baseline }}"
    -  "--parameter cpu0.INITVTOR_S={{ cpu0_initvtor_s }}"
    -  "--parameter cpu0.semihosting-enable=0"
    -  "--parameter fvp_mps2.DISABLE_GATING=0"
    -  "--parameter fvp_mps2.telnetterminal0.start_telnet=1"
    -  "--parameter fvp_mps2.telnetterminal1.start_telnet=1"
    -  "--parameter fvp_mps2.telnetterminal2.start_telnet=1"
    -  "--parameter fvp_mps2.telnetterminal0.quiet=0"
    -  "--parameter fvp_mps2.telnetterminal1.quiet=0"
    -  "--parameter fvp_mps2.telnetterminal2.quiet=0"
    -  "--parameter fvp_mps2.UART0.shutdown_on_eot=1"
    -  "--parameter 'fvp_mps2.UART0.out_file=-'"
    -  "--parameter fvp_mps2.mps2_visualisation.disable-visualisation=1"
{%- if enable_code_coverage %}
    -  "--plugin {CC}"
{%- endif %}

    prompts:
    - '(.*)'

- test:
    namespace: target
    monitors:
    {%- for monitor in test.monitors %}
    - name: "{{monitor.name}}"
      start: "{{monitor.start}}"
      end: "{{monitor.end}}"
      pattern: "{{monitor.pattern}}"
      fixupdict:
         '{{monitor.fixup.pass}}': pass
         '{{monitor.fixup.fail}}': fail
    {%- endfor %}
{% endblock %}
